@import "../common/mixin.scss";

.price {
  padding-top: 52px;
  .price-inner {
    text-align: center;
    max-width: 906px;
    height: 217px;
    margin: 0 auto;
    @include bg-img(url("../img/price.png"), no-repeat);
    @include mq(sp) {
      width: auto;
      height: auto;
      @include bg-img(url("../img/price.png"), no-repeat, 80% 20%, cover);
    }
    .price-title {
      padding-top: 62px;
      padding-right: 14px;
      font-size: 26px;
      font-weight: bold;
      color: white;
      @include mq(sp) {
        padding-right: 0;
        font-size: 24px;
      }
    }
    .btn-more-price-area {
      padding-top: 25px;
      @include mq(sp) {
        padding-bottom: 48px;
      }
      .btn-more-price {
        width: 200px;
        height: 50px;
      }
    }
  }
}
