@import "../common/mixin.scss";
@import "../common/components.scss";

.contact {
  padding-top: 58px;
  padding-bottom: 62px;
  .contact-contents {
    max-width: 700px;
    margin: 0 auto;
    font-weight: 500;
    .contact-explanation {
      line-height: 1.7;
    }
    .contact-form {
      margin-top: 41px;
      label, input {
        display: block;
      }
      .form-label, .form-label-top {
        padding-bottom: 12px;
      }
      .form-label-top {
        margin-top: 20px;
      }
      .form-text {
        width: 100%;
        padding: 19px 20px 18px 20px;
        @include base-text;
      }
      .form-label-radio, .form-label-contact {
        margin-top: 24px;
      }
      .form-radios {
        margin-top: 19px;
        .form-radio {
          display: none;
        }
        .form-radio-label {
          display: block!important;
          padding: 5px 39px;
          @include base-radio-label;
        }
        .form-radio:checked + .form-radio-label::after {
          opacity: 1;
        }
      }
      .textarea-contact {
        width: 100%;
        height: 218px;
        padding: 22px 23.2px 0 23.2px;
        margin-top: 12px;
        @include base-textarea;
      }
      .privacy-policy-box {
        text-align: center;
        margin-top: 30.6px;
        a {
          color: #F5A623;
        }
      }
      .privacy-policy-agree-box {
        text-align: center;
        margin-top: 31px;
        .privacy-policy-agree {
          display: none;
        }
        .privacy-policy-agree-label {
          padding: 5px 35px;
          @include base-checkbox-label;
        }
        .privacy-policy-agree:checked + .privacy-policy-agree-label::after {
          opacity: 1;
        }
      }
      .btn-send-box {
        margin-top: 48px;
        text-align: center;
        .btn-send {
          @include btn-navy-blue;
          width: 200px;
          height: 50px;
          font-weight: bold;
          border-radius: 5px;
        }
      }
    }
  }
}