@import "../common/mixin.scss";

.contact-phone-number {
  padding-top: 20.3px;
  padding-bottom: 23.7px;
  .contact-phone-number-contents {
    display: flex;
    max-width: 778px;
    margin: 0 auto;
    @include mq(sp) {
      display: block;
      text-align: center;
    }
    .contact-phone-number-title {
      display: flex;
      padding-right: 20px;
      font-weight: bold;
      @include mq(sp) {
        display: block;
        padding-right: 0;
      }
      span {
        margin-top: auto;
        margin-bottom: 3px;
        font-size: 16px;
      }
    }
    .phone-number-title {
      padding-right: 20px;
      font-size: 36px;
      font-weight: bold;
      @include mq(sp) {
        padding-top: 12px;
        padding-right: 0;
        font-size: 28px;
      }
    }
    .phone-number-time {
      display: flex;
      font-weight: 500;
      @include mq(sp) {
        display: block;
        padding-top: 12px;
      }
      span {
        margin-top: auto;
        margin-bottom: 3px;
      }
    }
  }
}