@import "../common/mixin.scss";

.correct {
  padding-top: 58px;
  padding-bottom: 65.1px;
  .correct-contents {
    max-width: 900px;
    margin: 0 auto;
    .correct-title {
      text-align: center;
      padding-bottom: 45px;
      font-size: 32px;
      font-weight: bold;
    }
    .correct-list {
      @include mq(sp) {
        margin: 0 16px;
      }
      .correct-row {
        display: flex;
        padding-top: 23.5px;
        padding-bottom: 24.5px;
        cursor: pointer;
        &:not(:first-child) {
          border-bottom: 1px solid #D5D5D5;
        }
        &:not(:last-child) {
          border-top: 1px solid #D5D5D5;
        }
        .correct-row-title {
          margin-left: 51px;
          a {
            @include line-clump(3);
            margin-top: -4px;
            line-height: 1.5;
          }
        }
      }
    }
  }
}