@import "../common/mixin.scss";

footer {
  .footer-contents {
    height: 229px;
    padding-top: 35px;
    background-color: #1B224C;
    color: white;
    .footer-inner-contents {
      display: flex;
      max-width: 935.5px;
      margin: 0 auto;
      @include mq(sp) {
        display: block;
      }
      .inner-contents-left {
        padding-left: 23px;
        padding-top: 15px;
        @include mq(sp) {
          width: 200px;
          padding: 0;
          margin: 0 auto;
        }
        ul {
          li {
            position: relative;
            @include mq(sp) {
              text-align: center;
              &:first-child, &:nth-child(2) {
                padding-bottom: 18px;
              }
              &:nth-child(2), &:nth-child(4) {
                &::before {
                  content: "";
                  width: 1px;
                  height: 23px;
                  background-color: white;
                  position: absolute;
                  top: -3px;
                  left: 38px;
                }
              }
              &:nth-child(2) {
                padding-left: 84px;
              }
              &:nth-child(4) {
                padding-left: 70px;
              }
            }
            @include mq(tab-and-pc) {
              &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                padding-left: 43px;
                &::before {
                  content: "";
                  width: 1px;
                  height: 23px;
                  background-color: white;
                  position: absolute;
                  top: -3px;
                  left: 17px;
                }
              }
            }
            a {
              font-weight: bold;
              color: white;
              text-decoration: none;
            }
          }
        }
      }
      .inner-contents-right {
        margin-left: auto;
        @include mq(sp) {
          display: flex;
          max-width: 248px;
          padding-top: 60px;
          margin: 0 auto;
          img {
            width: 120px;
          }
        }
        .number-box {
          padding-top: 27px;
          @include mq(sp) {
            padding-left: 8px;
          }
          .phone-number {
            position: relative;
            width: 115px;
            margin-left: auto;
            font-weight: bold;
            @include mq(sp) {
              padding-top: 0;
            }
            &::before {
              content: "";
              position: absolute;
              left: -18px;
              top: 3px;
              width: 10px;
              height: 15px;
              @include bg-img(url("../img/footer_phone.png"), no-repeat);
            }
          }
          .active-time {
            width: 93px;
            padding-top: 14px;
            margin-left: auto;
            font-size: 12px;
            font-weight: 500;
            @include mq(sp) {
              padding-top: 8px;
            }
          }
        }
      }
    }
  }
  .footer-bottom-contents {
    display: flex;
    max-width: 927.5px;
    height: 36px;
    margin: 0 auto;
    .copy-right {
      padding-top: 14px;
      margin-left: auto;
      font-size: 12px;
      font-weight: bold;
      @include mq(sp) {
        margin: 0 auto;
      }
    }
  }
}