@import "../common/mixin.scss";

.hero {
  width: 100%;
  height: 476px;
  background-image: url("../img/fv.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  @include mq(sp) {
    height: auto;
    background-position: 80% 20%;
    background-size: cover;
  }
  .hero-contents {
    padding-top: 116px;
    text-align: center;
    color: white!important;
    @include mq(sp) {
      padding: 66px 0;
    }
    .hero-title {
      font-size: 48px;
      font-weight: bold;
      @include mq(sp) {
        font-size: 28px;
      }
    }
    .hero-sub-title {
      max-width: 328px;
      padding-top: 22px;
      margin: 0 auto;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.7;
      @include mq(sp) {
        max-width: 258px;
        font-size: 14px;
      }
    }
    .btn-doc-rea-area {
      padding-top: 45px;
      @include mq(sp) {
        padding-top: 20px;
      }
      .btn-doc-req {
        @include btn-yellow;
        @include el-prop(260px, 60px, 16px, bold, 31px);
      }
    }
    .contact-link-area {
      padding-top: 22px;
      @include mq(sp) {
        padding-top: 18px;
      }
      a {
        font-weight: 500;
        color: white!important;
      }
    }
  }
}