@import "../common/mixin.scss";

$toggle-btn-top: 47%;

.qa {
  padding-top: 75px;
  padding-bottom: 30.2px;
  .qa-contents {
    max-width: 900.5px;
    margin: 0 auto;
    .qa-title {
      text-align: center;
      font-size: 36px;
      font-weight: bold;
    }
    .qa-accordion {
      margin-top: 30px;
      border-bottom: 1px solid #1B224C;
      @mixin qa-accordion-row {
        position: relative;
        height: 74px;
        border-top: 1px solid #1B224C;
        font-weight: 500;
        line-height: 74px;
        .toggle-btn {
          position: absolute;
          top: $toggle-btn-top;
          right: 20px;
          width: 25px;
          &::before {
            content: "";
            position: absolute;
            top: $toggle-btn-top;
            width: 25px;
            height: 3px;
            background-color: #1B224C;
          }
        }
      }
      .qa-accordion-row-passive {
        @include qa-accordion-row;
        .toggle-btn {
          &::after {
            content: "";
            position: absolute;
            top: $toggle-btn-top;
            width: 25px;
            height: 3px;
            background-color: #1B224C;
          }
          &::after {
            transform: rotate(90deg);
          }
        }
      }
      .qa-accordion-row-active {
        @include qa-accordion-row;
        height: 65.5px!important;
      }
      .qa-accordion-row-open {
        display: none;
        height: 65px;
        padding-top: 23px;
        padding-left: 26px;
        margin-bottom: 15.5px;
        font-weight: 500;
        background-color: #F8F8F8;
      }
    }
  }
}