@import "../common/mixin.scss";

$toefl-left-max-width: 500px;
$toefl-right-padding-left: 50px;

$tip-yellow-width: 90px;
$tip-yellow-height: 30px;
$tip-yellow-font-size: 12px;
$tip-yellow-font-weight: 500;
$tip-yellow-border-radius: 0;

.toefl-strong {
  .toefl-strong-contents {
    max-width: 910px;
    padding-top: 59px;
    padding-bottom: 39px;
    padding-left: 5px;
    margin: 0 auto;
    @include mq(sp) {
      padding-top: 39px;
      padding-left: 0;
    }
    .toefl-strong-title {
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      @include mq(sp) {
        font-size: 28px;
      }
    }
    .tip-lol {
      @include tip-yellow;
      @include el-prop($tip-yellow-width, $tip-yellow-height, $tip-yellow-font-size, $tip-yellow-font-weight, $tip-yellow-border-radius);
      @include flex-center;
    }
    .toefl-title {
      padding-top: 27px;
      font-size: 26px;
      font-weight: bold;
      line-height: 1.5;
      @include mq(sp) {
        padding-top: 18px;
        font-size: 24px;
        color: white;
      }
    }
    .toefl-text {
      padding-top: 27px;
      font-weight: 500;
      line-height: 1.7;
      @include mq(sp) {
        padding-top: 18px;
        color: white;
      }
    }
    .toefl-optimization {
      display: flex;
      padding-top: 59px;
      @include mq(sp) {
        padding-top: 39px;
      }
      .toefl-optimization-left {
        max-width: $toefl-left-max-width;
        @include mq(sp) {
          padding: 40px 20px;
          $bg-img: linear-gradient(rgba(0, 0, 0, .6),  rgba(0, 0, 0, .6)),  url("../img/feature01.jpg"); 
          @include bg-img($bg-img, no-repeat, center, cover);
        }
      }
      .toefl-optimization-right {
        flex: 1;
        padding-left: $toefl-right-padding-left;
        @include mq(sp) {
          display: none;
        }
      }
    }
    .toefl-teacher {
      display: flex;
      padding-top: 55px;
      @include mq(sp) {
        padding-top: 0;
      }
      .toefl-teacher-left {
        max-width: $toefl-left-max-width;
        @include mq(sp) {
          display: none;
        }
      }
      .toefl-teacher-right {
        flex: 1;
        padding-left: $toefl-right-padding-left;
        @include mq(sp) {
          padding: 40px 20px;
          $bg-img: linear-gradient(rgba(0, 0, 0, .6),  rgba(0, 0, 0, .6)),  url("../img/feature02.jpg"); 
          @include bg-img($bg-img, no-repeat, center, cover);
        }
      }
    }
    .toefl-grades-up {
      display: flex;
      padding-top: 58px;
      @include mq(sp) {
        padding-top: 0;
      }
      .toefl-grades-left {
        max-width: $toefl-left-max-width;
        @include mq(sp) {
          padding: 40px 20px;
          $bg-img: linear-gradient(rgba(0, 0, 0, .6),  rgba(0, 0, 0, .6)),  url("../img/feature03.png"); 
          @include bg-img($bg-img, no-repeat, center, cover);
        }
        #toefl-grades-text {
          padding-top: 36px!important;
          @include mq(sp) {
            padding-top: 0!important;
          }
        }
      }
      .toefl-grades-right {
        flex: 1;
        padding-left: $toefl-right-padding-left;
        @include mq(sp) {
          display: none;
        }
      }
    }
  }
}