@import "../common/mixin.scss";

.toefl-strong {
  .toefl-strong-contents {
    max-width: 910px;
    padding-top: 60px;
    padding-bottom: 39px;
    margin: 0 auto;
    @include mq(sp) {
      padding: 34px 0 0 0;
    }
    .toefl-strong-title {
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      @include mq(sp) {
        font-size: 28px;
        line-height: 1.4;
      }
    }
    .toefl-strong-content {
      .toefl-strong-row {
        position: relative;
        display: flex;
        margin: 55px 5px 0 5px;
        @include mq(sp) {
          margin: 55px 0 0 0;
        }
        .toefl-strong-col-left {
          max-width: 500px;
          @include mq(sp) {
            $bg-img: linear-gradient(rgba(0, 0, 0, .6),  rgba(0, 0, 0, .6)),  url("../img/feature01.jpg");
            @include bg-img($bg-img);
            z-index: 1;
          }
          .tip-lol {
            width: 90px;
            height: 30px;
            @include flexbox(nowrap, center, center);
          }
          .toefl-strong-col-title {
            min-height: 45px;
            margin-top: 29px;
            font-size: 26px;
            font-weight: bold;
            line-height: 1.5;
            @include mq(sp) {
              padding: 0 16px;
              color: white;
            }
          }
          .toefl-strong-col-text {
            margin-top: 28px;
            line-height: 1.7;
            @include mq(sp) {
              padding: 0 16px 16px 16px;
              color: white;
            }
          }
        }
        .toefl-strong-col-right {
          width: 350px;
          height: 240px;
          @include mq(sp) {
            display: none;
          }
          img {
            object-fit: cover;
          }
        }
        .toefl-strong-margin-left {
          @include mq(tab-and-pc){
            flex: 1;
            margin-left: 50px;
          }
        }
      }
    }
  }
}