.c-copy-right {
  padding-top: 13px;
  margin-left: auto;
  font-size: 12px;
  font-weight: bold;
  @include mq(sp-and-tab) {
    margin: 0 auto;
  }
}

.c-tip-yellow {
  background-color: #F5A623;
  color: white;
  font-size: 12px;
  font-weight: 500;
}
