.btn-yellow {
  background-color: #F5A623;
}

.btn-navy-blue {
  background-color: #1B224C;
}

.btn-border-white {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.tip-yellow {
  background-color: #F5A623;
  color: white;
}

.input-error {
  border: 1px solid red;
  background-color: #ffd9e1;
}