$breakpoint: (
  sp: 'screen and (max-width: 767px)',
  sp-and-tab: 'screen and (max-width: 1024px)',
  tab: 'screen and (min-width: 768px) and (max-width: 1024px)',
  tab-and-pc: 'screen and (min-width: 768px)',
  pc: 'screen and (min-width: 1025px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

@mixin base-btn {
  -webkit-appearance: none;
  appearance: none;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin btn-yellow {
  @include base-btn;
  background-color: #F5A623;
}

@mixin btn-navy-blue {
  @include base-btn;
  background-color: #1B224C;
}

@mixin btn-border-white {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

@mixin tip-yellow {
  background-color: #F5A623;
  color: white;
}

@mixin bg-img($bg, $bg-repeat: null, $bg-position: null, $bg-size: null) {
  background: $bg;
  background-repeat: $bg-repeat;
  background-position: $bg-position;
  background-size: $bg-size;
}

@mixin el-prop($width, $height, $font-size, $font-wight, $border-radius) {
  width: $width;
  height: $height;
  font-size: $font-size;
  font-weight: $font-wight;
  border-radius: $border-radius;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap    : wrap;
  flex-wrap        : wrap;
}

@mixin line-clump($line-clump) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clump;
  overflow: hidden; 
}