@import "../common/mixin.scss";

body {
  padding: 0;
  margin: 0;
  color: #1B224C;
  font-size: 16px;
  line-height: 1;
  @include mq(sp) {
    font-size: 14px;
  }
  * {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul, p {
    padding: 0;
    margin: 0;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
    }
  }
  a {
    color: #1B224C;
  }
  @include mq(sp) {

  }
}